# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories
# vendor/

# Ignore idea
.idea/*

# Ignore DS_Store os x file
**/.DS_Store

# Ignore debug files
log.txt
output.txt

# Ignore db file
db.sql
